body {
    height: 100%;
}

        body {
            margin: 0;
            font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
            -webkit-font-smoothing: antialiased;
        }

        #header {
            background-color: rgb(11, 85, 106);
            color: rgb(255, 255, 255);
            font-weight: 600;
            height: 48px;
            padding: 0px 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #subheader {
            background-color: rgb(243, 242, 241);
            padding: 7px 13px;
            font-size: 12px;
            font-weight: 400;
        }

        a {
            color: rgb(0, 90, 158);
        }

        a:hover {
            color: rgb(0, 69, 120);
        }

        #webchat {
            position: fixed;
            height: calc(100% - 75px);
            width: 100%;
            top: 75px;
            overflow: hidden;
            visibility: hidden;
        }

        #sign-out-button {
            font-size: 16px;
            border: none;
            color: black;
            cursor: pointer;
            visibility: hidden;
            position: fixed;
            top: 5px;
            right: 10px;
            /* Add the following lines */
            display: inline-block;
            width: auto;
            padding: 10px 20px;
            /* Adjust as needed */
            border-radius: 5px;
        }

    #chat-container {
        visibility: hidden;
    }