<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BotId" value="" />
    <add key="BotTenantId" value="" />
    <add key="BotName" value="" />
    <add key="BotTokenEndpoint" value="https://powerva.microsoft.com/api/botmanagement/v1/directline/directlinetoken" />
    <add key="EndConversationMessage" value="quit" />
  </appSettings>
</configuration>