{% if site.gh_edit_repository and site.gh_edit_branch and page.path and page.external_url == nil %}
  {% assign page_dir = page.path | split: "/" | pop | join: "/" %}
  {% if page_dir != "" %}
    <p class="text-right text-small mb-4">
      <a href="{{ site.gh_edit_repository }}/tree/{{ site.gh_edit_branch }}/{{ page_dir }}" class="btn btn-outline fs-3" target="_blank">
        Browse source on GitHub
      </a>
    </p>
  {% endif %}
{% elsif page.external_url %}
  <p class="text-right text-small mb-4">
    <a href="{{ page.external_url }}" class="btn btn-outline fs-3" target="_blank">
      View sample in M365 Agents SDK repo
    </a>
  </p>
{% endif %}
