<!DOCTYPE html>
<html>
<head>
    <title>Copilot Studio 3P SSO with OKTA</title>
    <link rel="stylesheet" href="/css/style/style.css">
</head>
 <body>
 <script>
   signOutAndRedirect();

   function signOutAndRedirect() {
     // Redirect to the homepage
     window.location.href = '/'; // Replace 'index.html' with your actual homepage URL
   }

	</script>
    <div id="chat-container">
        <div id="header">
            Copilot Studio 3P SSO with OKTA
        </div>
        <div id="webchat"> </div>
    </div>
   </body>