{"swagger":"2.0","info":{"title":"Power Platform Billing Policies","description":"Retrieve and manage billing policies for a Power Platform tenant via the Power Platform API.","version":"1.0","contact":{"name":"Power Platform Admin"}},"host":"api.powerplatform.com","basePath":"/","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/licensing/billingPolicies":{"get":{"operationId":"ListBillingPolicies","summary":"List billing policies","description":"Returns a page of billing policies for the tenant. Use @odata.nextLink / $skiptoken to retrieve subsequent pages until all policies are collected.","parameters":[{"name":"api-version","in":"query","required":true,"type":"string","default":"2022-03-01-preview","description":"API version. Use 2022-03-01-preview.","x-ms-summary":"API Version"},{"name":"$top","in":"query","required":false,"type":"integer","description":"Maximum number of records to return per page.","x-ms-summary":"Page Size"},{"name":"$skiptoken","in":"query","required":false,"type":"string","description":"Continuation token from @odata.nextLink to retrieve the next page of results.","x-ms-summary":"Skip Token","x-ms-visibility":"advanced"}],"responses":{"200":{"description":"OK — one page of billing policies returned.","schema":{"$ref":"#/definitions/BillingPoliciesResponse"}},"400":{"description":"Bad Request — invalid query parameter."},"401":{"description":"Unauthorized — missing or invalid bearer token."},"403":{"description":"Forbidden — authenticated identity lacks Power Platform Admin role."}}}},"/licensing/billingPolicies/{policyId}":{"get":{"operationId":"GetBillingPolicy","summary":"Get a billing policy","description":"Returns a single billing policy by its ID.","parameters":[{"name":"policyId","in":"path","required":true,"type":"string","description":"The billing policy ID (GUID).","x-ms-summary":"Policy ID","x-ms-url-encoding":"single"},{"name":"api-version","in":"query","required":true,"type":"string","default":"2022-03-01-preview","description":"API version.","x-ms-summary":"API Version","x-ms-visibility":"advanced"}],"responses":{"200":{"description":"OK — billing policy returned.","schema":{"$ref":"#/definitions/BillingPolicyResponseModel"}},"401":{"description":"Unauthorized."},"403":{"description":"Forbidden."},"404":{"description":"Not Found — policy ID does not exist."}}}}},"definitions":{"BillingPoliciesResponse":{"type":"object","description":"Paged response containing billing policies.","properties":{"@odata.nextLink":{"type":"string","description":"URL for the next page of results. Extract the $skiptoken query parameter value from this URL and pass it to the next call. Absent when no further pages exist.","x-ms-summary":"Next Page Link"},"value":{"type":"array","description":"Array of billing policies in this page.","x-ms-summary":"Billing Policies","items":{"$ref":"#/definitions/BillingPolicyResponseModel"}}}},"BillingPolicyResponseModel":{"type":"object","description":"A single billing policy.","properties":{"id":{"type":"string","description":"Unique identifier (GUID) of the billing policy.","x-ms-summary":"Policy ID"},"name":{"type":"string","description":"Display name of the billing policy.","x-ms-summary":"Policy Name"},"status":{"$ref":"#/definitions/BillingPolicyStatus"},"location":{"type":"string","description":"Azure region where the billing policy is located.","x-ms-summary":"Location"},"createdOn":{"type":"string","format":"date-time","description":"UTC date and time the policy was created.","x-ms-summary":"Created On"},"lastModifiedOn":{"type":"string","format":"date-time","description":"UTC date and time the policy was last modified.","x-ms-summary":"Last Modified On"},"createdBy":{"$ref":"#/definitions/Principal"},"lastModifiedBy":{"$ref":"#/definitions/Principal"},"billingInstrument":{"$ref":"#/definitions/BillingInstrumentModel"}}},"BillingPolicyStatus":{"type":"string","description":"Whether the billing policy is active.","x-ms-summary":"Status","enum":["Enabled","Disabled"],"x-ms-enum-values":[{"displayName":"Enabled","value":"Enabled"},{"displayName":"Disabled","value":"Disabled"}]},"BillingInstrumentModel":{"type":"object","description":"Azure subscription details linked to this billing policy.","properties":{"id":{"type":"string","description":"Resource ID of the billing instrument.","x-ms-summary":"Instrument ID"},"subscriptionId":{"type":"string","format":"uuid","description":"Azure subscription ID.","x-ms-summary":"Subscription ID"},"resourceGroup":{"type":"string","description":"Azure resource group within the subscription.","x-ms-summary":"Resource Group"}}},"Principal":{"type":"object","description":"The user or application that performed an action.","properties":{"id":{"type":"string","description":"Object ID of the principal.","x-ms-summary":"Principal ID"},"type":{"$ref":"#/definitions/PrincipalType"}}},"PrincipalType":{"type":"string","description":"Type of principal.","x-ms-summary":"Principal Type","enum":["None","Application","User","DelegatedAdmin"],"x-ms-enum-values":[{"displayName":"None","value":"None"},{"displayName":"Application","value":"Application"},{"displayName":"User","value":"User"},{"displayName":"Delegated Admin","value":"DelegatedAdmin"}]}},"parameters":{},"responses":{},"security":[{"oauth2":["https://api.powerplatform.com/.default"]}],"tags":[],"securityDefinitions":{"oauth2":{"type":"oauth2","flow":"accessCode","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{"https://api.powerplatform.com/.default":"https://api.powerplatform.com/.default"},"authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize"}},"x-ms-connector-metadata":[{"propertyName":"Website","propertyValue":"https://learn.microsoft.com/en-us/rest/api/power-platform/licensing/billing-policy"},{"propertyName":"Privacy policy","propertyValue":"https://privacy.microsoft.com/en-us/privacystatement"},{"propertyName":"Categories","propertyValue":"IT Operations"}]}