{"swagger":"2.0","info":{"title":"Azure Cost Management - Query Usage API","description":"Query usage data for a defined scope using Azure Cost Management.","version":"2025-03-01"},"host":"management.azure.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/{scope}/providers/Microsoft.CostManagement/query":{"post":{"tags":["Query"],"summary":"Query Usage","description":"Query the usage data for the defined scope.","operationId":"Query_Usage","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"scope","description":"The scope for the query. Examples: '/subscriptions/{subscriptionId}', '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}', '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}', '/providers/Microsoft.Management/managementGroups/{managementGroupId}'.","required":true,"type":"string"},{"in":"query","name":"api-version","description":"The API version to use for this operation.","required":true,"type":"string","default":"2025-03-01","minLength":1},{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/QueryDefinition"},"x-examples":{"SubscriptionQuery":{"summary":"Subscription query with filter","value":{"type":"Usage","timeframe":"MonthToDate","dataset":{"granularity":"Daily","filter":{"and":[{"or":[{"dimensions":{"name":"ResourceLocation","operator":"In","values":["East US","West Europe"]}},{"tags":{"name":"Environment","operator":"In","values":["UAT","Prod"]}}]},{"dimensions":{"name":"ResourceGroup","operator":"In","values":["API"]}}]}}}},"SubscriptionQueryGrouping":{"summary":"Subscription query with grouping","value":{"type":"Usage","timeframe":"TheLastMonth","dataset":{"granularity":"None","aggregation":{"totalCost":{"name":"PreTaxCost","function":"Sum"}},"grouping":[{"name":"ResourceGroup","type":"Dimension"}]}}}}}],"responses":{"200":{"description":"Query completed successfully.","schema":{"$ref":"#/definitions/QueryResult"},"examples":{"application/json":{"name":"55312978-ba1b-415c-9304-cfd9c43c0481","type":"microsoft.costmanagement/Query","id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/Query/00000000-0000-0000-0000-000000000000","properties":{"columns":[{"name":"PreTaxCost","type":"Number"},{"name":"ResourceGroup","type":"String"},{"name":"UsageDate","type":"Number"},{"name":"Currency","type":"String"}],"nextLink":null,"rows":[[2.10333307059661,"ScreenSharingTest-peer",20180331,"USD"],[218.68795741935486,"Ict_StratAndPlan_GoldSprova_Prod",20180331,"USD"]]}}}},"204":{"description":"No content to return for this request."},"default":{"description":"Unexpected error response.","schema":{"$ref":"#/definitions/ErrorResponse"}}}}}},"definitions":{"QueryDefinition":{"description":"The definition of a query.","required":["type","timeframe","dataset"],"type":"object","properties":{"type":{"$ref":"#/definitions/ExportType"},"timeframe":{"$ref":"#/definitions/TimeframeType"},"timePeriod":{"$ref":"#/definitions/QueryTimePeriod"},"dataset":{"$ref":"#/definitions/QueryDataset"}}},"QueryDataset":{"description":"The definition of data present in the query.","type":"object","properties":{"granularity":{"$ref":"#/definitions/GranularityType"},"configuration":{"$ref":"#/definitions/QueryDatasetConfiguration"},"aggregation":{"description":"Dictionary of aggregation expressions (max 2). Each key is the alias for the aggregated column.","type":"object","additionalProperties":{"$ref":"#/definitions/QueryAggregation"}},"grouping":{"description":"Array of group-by expressions (max 2).","type":"array","items":{"$ref":"#/definitions/QueryGrouping"}},"filter":{"$ref":"#/definitions/QueryFilter"}}},"QueryDatasetConfiguration":{"description":"The configuration of dataset in the query. Ignored if aggregation and grouping are provided.","type":"object","properties":{"columns":{"description":"Array of column names to include in the query.","type":"array","items":{"type":"string"}}}},"QueryAggregation":{"description":"The aggregation expression to be used in the query.","required":["name","function"],"type":"object","properties":{"name":{"description":"The name of the column to aggregate.","type":"string"},"function":{"$ref":"#/definitions/FunctionType"}}},"QueryGrouping":{"description":"The group-by expression to be used in the query.","required":["name","type"],"type":"object","properties":{"name":{"description":"The name of the column to group.","type":"string"},"type":{"$ref":"#/definitions/QueryColumnType"}}},"QueryFilter":{"description":"The filter expression to be used in the query.","type":"object","properties":{"and":{"description":"Logical AND expression. Must have at least 2 items.","minItems":2,"type":"array","items":{"$ref":"#/definitions/QueryFilter"}},"or":{"description":"Logical OR expression. Must have at least 2 items.","minItems":2,"type":"array","items":{"$ref":"#/definitions/QueryFilter"}},"dimensions":{"$ref":"#/definitions/QueryComparisonExpression"},"tags":{"$ref":"#/definitions/QueryComparisonExpression"}}},"QueryComparisonExpression":{"description":"The comparison expression to be used in the query.","required":["name","operator","values"],"type":"object","properties":{"name":{"description":"The name of the column to use in comparison.","type":"string"},"operator":{"$ref":"#/definitions/QueryOperatorType"},"values":{"description":"Array of values to use for comparison.","type":"array","items":{"type":"string"}}}},"QueryTimePeriod":{"description":"The start and end date for pulling data for the query.","required":["from","to"],"type":"object","properties":{"from":{"format":"date-time","description":"The start date to pull data from.","type":"string"},"to":{"format":"date-time","description":"The end date to pull data to.","type":"string"}}},"QueryResult":{"description":"Result of query. Contains all columns listed under groupings and aggregation.","type":"object","properties":{"id":{"description":"Resource Id.","type":"string"},"name":{"description":"Resource name.","type":"string"},"type":{"description":"Resource type.","type":"string"},"location":{"description":"Location of the resource.","type":"string"},"sku":{"description":"SKU of the resource.","type":"string"},"eTag":{"description":"ETag of the resource.","type":"string"},"tags":{"description":"Resource tags.","type":"object","additionalProperties":{"type":"string"}},"properties":{"type":"object","properties":{"columns":{"description":"Array of columns.","type":"array","items":{"$ref":"#/definitions/QueryColumn"}},"rows":{"description":"Array of rows. Each row is an array of values corresponding to the columns.","type":"array","items":{"type":"array","items":{}}},"nextLink":{"description":"The link (url) to the next page of results.","type":"string"}}}}},"QueryColumn":{"description":"QueryColumn properties.","type":"object","properties":{"name":{"description":"The name of the column.","type":"string"},"type":{"description":"The type of the column (e.g. Number, String).","type":"string"}}},"ErrorResponse":{"description":"Error response from the service.","type":"object","properties":{"error":{"$ref":"#/definitions/ErrorDetails"}}},"ErrorDetails":{"description":"The details of the error.","type":"object","properties":{"code":{"description":"Error code.","type":"string"},"message":{"description":"Error message indicating why the operation failed.","type":"string"}}},"ExportType":{"description":"The type of the query. 'Usage' is equivalent to 'ActualCost'.","enum":["Usage","ActualCost","AmortizedCost","FocusCost","PriceSheet","ReservationTransactions","ReservationRecommendations","ReservationDetails"],"type":"string"},"TimeframeType":{"description":"The time frame for pulling data. Use 'Custom' with timePeriod for a specific date range.","enum":["MonthToDate","BillingMonthToDate","TheLastMonth","TheLastBillingMonth","WeekToDate","Custom","TheCurrentMonth"],"type":"string"},"GranularityType":{"description":"The granularity of rows in the query.","enum":["Daily","Monthly","None"],"type":"string"},"FunctionType":{"description":"The aggregation function to use.","enum":["Sum"],"type":"string"},"QueryColumnType":{"description":"The type of the column to group by.","enum":["TagKey","Dimension"],"type":"string"},"QueryOperatorType":{"description":"The operator to use for comparison.","enum":["In"],"type":"string"}},"parameters":{},"responses":{},"security":[],"tags":[],"securityDefinitions":{}}