AZURE_DEFAULT_DOMAIN=http://localhost:5000
OKTA_ORG_URL=https://your-org.okta.com
OKTA_CLIENT_ID=your-okta-client-id
OKTA_SCOPES=okta.users.read
OKTA_CC_PRIVATE_KEY_FILE=./keys/oktaprivate.key
OKTA_AUTHORIZATION_SERVER=default
OKTA_REDIRECT_URI=http://localhost:5000
PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nyour-private-key-here\n-----END PRIVATE KEY-----
